<form method="POST" action="/landmarks">
  <p>Landmark Name: <input type="text" name="name"/></p>
  <p>Landmark Year Completed: <input type="text" name="year_completed"/></p>
  <input type="submit" value="Create Landmark"/>
</form>
